.clientImg{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.clientCard h3{
    margin: 0;
}